{% extends 'frontClient.html.twig' %}
{% block body %}
    <section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border">
          <h3 class="bg-gray p-4">Mot de passe oublié ?</h3>
          {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
          {% endfor %}
         <fieldset class="p-4">
          {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
              <small>
                 Veuillez saisir votre email de connexion afin de 
                 recevoir le lien de réinitialisation de votre mot de passe .
              </small>
            </div>
            <button type="submit" class="btn btn-primary font-weight-bold mt-3">Recevoir le lien</button>
          {{ form_end(requestForm) }}
         </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
