   {{ form_start(form, {'attr': {'class': 'form-horizantal'}}) }}
                                    <div class="form-group">
                                         {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                          <div class="col-sm-9">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                           </div>
                                    </div>

                              
                                    <button type="submit" class="btn btn-transparent">Ajouter</button>
                                {{ form_end(form) }}

