
{% extends 'frontClient.html.twig' %}
{% block title %}Show Musee{% endblock %}

{% block body %}
<div class="container">

    <h1>Musee</h1>
	
    {% for piece in musee.getPiecesMusees %}
				{% set img_path = 'uploads/pieces_musee_images/' ~ piece.getimg %}

				<div class="card" style="width: 18rem;">
					<img src="{{ asset(img_path) }}"/>
					<div class="card-body">
						<h5 class="card-title">{{ piece.name }}</h5>
						<p class="card-text">{{ piece.description }}</p>
					</a>
				</p>	
			</div>
		</div>


	{% else %}
		<tr>
			<td colspan="6">no records found</td>
		</tr>
	{% endfor %}

    <a href="{{ path('app_musee_index_client') }}">back to list</a>
	<hr/></div>
{% endblock %}
