{% extends 'base.html.twig' %}

{% block title %}Edit PieceMusee{% endblock %}

{% block body %}
    <h1>Edit PieceMusee</h1>

    {{ include('piece_musee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_piece_musee_index') }}">back to list</a>

    {{ include('piece_musee/_delete_form.html.twig') }}
{% endblock %}
