{% extends 'frontClient.html.twig' %}
{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Merci pour Votre Achat</h1>
    <p>
       Votre piece est acheté avec succées
    </p>
       <button type="submit" class="btn btn-transparent" href="{{path('won_items')}}">Mes collections</button>

<div>

</div>
{% endblock %}